*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a{
    text-decoration: none;
    color:black;
    text-align: right;
    display: block;
}
nav .speed-test {
    text-decoration: none;
    text-align: right;
    display: block;
}
h1{
    font-family: 'Barlow';
    font-size: 64px;
    font-weight: 800;
}
h2{
    font-family: 'Bitter';
    font-size: 48px;
    font-weight: 500;
}
p{
    font-family: 'Red Hat Mono';
    font-size: 16px;
    font-weight: 400;
}
.plan1{
    color: white;
    background-color: #212832;
    display: flex;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
}
.plan2{
    color: black;
    background-color: #59B0E2;
    display: flex;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
}
.plan3{
    color: white;
    background-color: #102B49;
    display: flex;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
}